MAIN_BOT_TOKEN=8510550638:AAF0klsghjI-izY_13t0JSuJ-nodDdFmIH0
ADMIN_BOT_TOKEN=8827166130:AAEgN4Op8x7aaQcpu6xO4IXID0EkcGv_up0
SUPABASE_URL=https://gnqeojowrlaefpdnjjrc.supabase.co
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImducWVvam93cmxhZWZwZG5qanJjIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MTIzODk1NCwiZXhwIjoyMDk2ODE0OTU0fQ.PDjV5c3SJ32XroU6lB9_xcTmjCjFDEyI_JSwplm8ZXk
